:root {
  --primary-color: #4142e1;
}

h1 {
  font-size: 70px;
}

h3 {
  font-weight: 300;
  margin-top: 20px;
}

.button {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
}

.hero {
  margin: 90px auto 30px auto;
  max-width: 1150px;
}

.heroImage {
  width: 90%;
  margin: -35px auto auto 100px;
}

.heroText {
  margin-top: 95px;
}
