:root {
  --primary-color: #4142e1;
  --seconday-color: #e8effe;
  --dark-color: #0d0369;
}

@media (max-width: 600px) {
  body {
    text-align: center;
  }

  .about-p {
    margin-top: 5px !important;
  }

  .b-travel {
    margin-left: auto !important;
  }

  .bottom-p {
    margin: auto 20px;
  }

  .buttonOne {
    margin: -40px auto 0 10px !important;
  }

  .buttonTwo {
    margin: 20px auto -20px 10px !important;
  }

  .contact-head {
  }

  .hero {
    margin-top: 5px !important;
  }

  .heroImage {
    display: none;
  }

  .home-hero {
    margin-top: 50px !important;
  }

  .list-two {
    margin-top: -20px !important;
  }

  .mobile-row {
    margin: auto 0;
  }

  .other-heading {
    margin: 40px auto !important;
  }

  .p-one {
    margin-top: -50px;
    margin-left: 10px !important;
  }

  .project-img {
    display: none;
  }

  .second-section-p {
    margin-left: 0 !important;
    max-width: 350px;
  }
}

/* Home Page */

h1 {
  font-size: 70px;
}

h2 {
  margin: 80px auto;
  text-align: center;
}

h3 {
  font-weight: normal;
}

.about-hero {
  margin-top: 150px !important;
}

.bottom {
  margin: 120px 0 70px 0;
}

.bottom-half {
  background: rgb(40, 121, 9);
  background: linear-gradient(
    180deg,
    rgba(40, 121, 9, 0) 0%,
    rgba(232, 239, 254, 1) 16%,
    rgba(175, 193, 231, 1) 55%,
    rgba(103, 129, 184, 1) 100%
  );
  padding-bottom: 100px;
}

.bottom-p {
  text-align: center;
}

.button {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
}

.buttons {
  margin-top: 10px;
  margin-left: -30px;
}

.button:hover {
  background-color: var(--seconday-color);
  color: black;
}

.contact-head {
  margin-top: 150px !important;
}

.credentials {
  margin-top: 120px;
}

.contact-h4 {
  margin-bottom: 20px;
}

.contact-title {
  color: var(--primary-color);
  margin-top: 50px;
  text-align: center;
}

.contact-p {
  margin-top: 30px;
  text-align: center;
}

.contact-link {
  color: var(--primary-color);
}

.contact-link:hover {
  color: var(--seconday-color);
}

.footer {
  max-width: 1000px;
  text-align: center;
  margin: 200px auto 50px auto;
}

.footer-text {
  color: var(--dark-color);
  font-size: 20px;
  text-decoration: underline;
}

.footer-text:hover {
  color: var(--seconday-color);
}

.hero {
  margin: 60px auto 30px auto;
  max-width: 1150px;
}

.heroImage {
  width: 90%;
  margin: 0 auto auto 110px;
}

.heroText {
  margin-top: 80px;
}

.home-hero {
  margin-top: 100px;
}

.icons {
  color: var(--dark-color);
  font-size: 40px;
}

.links {
  color: var(--dark-color);
  text-decoration: none;
}

.links:hover {
  color: var(--seconday-color);
}

.navigation-menu {
  background-color: var(--seconday-color);
  padding: 20px 20px;
}

.project-img {
  width: 80%;
}

.second-cols {
  padding: 20px;
}

.second-row {
  margin: 80px auto;
}

.second-section {
  margin: 90px auto 50px auto;
  max-width: 1000px;
  text-align: center;
}

.second-section-p {
  margin: 40px -30px;
}

.website-clicks {
  max-width: 900px;
}

.work-hero {
  margin-top: 150px !important;
}

/* About Page */

.about-me-section {
  background-color: var(--seconday-color);
}

.other-heading {
  margin: 70px auto;
  text-align: center;
}

.list-space {
  margin: 60px 10px;
}

/* My Work Page */

h4 {
  margin-top: -20px;
  margin-bottom: 100px;
  text-align: center;
}

.buttonOne {
  margin: 40px auto 0 170px;
}

.buttonTwo {
  margin: 58px auto 0 190px;
}

.travelphoto {
  padding-left: 50px;
  width: 90%;
}

.weatherphoto {
  width: 100%;
}
